@model ClinicaMedica.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="lh-lg">
        <dt class="fw-bold text-dark">
            Paciente
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>

        <dt class="fw-bold text-dark">
            Especialidade Médica
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>

        <dt class="fw-bold text-dark">
            Médico
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.NomeMedico)
        </dd>

        <dt class="fw-bold text-dark">
            Data e Horário
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt class="fw-bold text-dark">
            Observações/Sintomas
        </dt>
        <dd class="mb-4 text-secondary">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
</div>
<div class="d-flex flex-wrap mt-4 gap-2">
    <a asp-action="GerarProntuario" asp-route-id="@Model?.Id" class="btn btn-danger">
        <i class="bi bi-file-earmark-pdf"></i> Gerar PDF
    </a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
        Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        Voltar à lista
    </a>
</div>
