@model ClinicaMedica.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="lh-lg">
        <dt class="fw-bold text-dark">
            Paciente
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>

        <dt class="fw-bold text-dark">
            Especialidade Médica
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>

        <dt class="fw-bold text-dark">
            Médico
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.NomeMedico)
        </dd>

        <dt class="fw-bold text-dark">
            Data e Horário
        </dt>
        <dd class="mb-3 text-secondary">
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt class="fw-bold text-dark">
            Observações/Sintomas
        </dt>
        <dd class="mb-4 text-secondary">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
